---
import BaseLayout from "../layouts/Base.astro";
---

<BaseLayout pageIndex="2">
	<article class="text-wrap">
		<h1 class="text-center my-4">
			免责声明<h1>
				<p class="py-2">
					一、鉴于网络服务的特殊性， 北国的出海技术日志
					收录链接的网站域名会有过期删除导致被他人重新注册再建站的情况，
					北国的出海技术日志
					不声明或保证所链接的网站的正确性或可靠性，请仔细识别你所访问的网站，风险自行承担。
				</p>
				<p class="py-2">
					二、 北国的出海技术日志
					不担保网络服务一定能满足用户的要求，也不担保网络服务不会中断，对网络服务的及时性、安全性、准确性也都不作担保。
				</p>
				<p class="py-2">
					三、 北国的出海技术日志
					不保证为用户提供便利而设置的外部链接的准确性和完整性，同时，对于该等外部链接指向的不由
					北国的出海技术日志 实际控制的任何网页上的内容，
					北国的出海技术日志 不承担任何责任。
				</p>
				<p class="py-2">
					四、对于因电信系统或互联网网络故障、计算机故障或病毒、信息损坏或丢失、计算机系统问题或其它任何不可抗力原因而产生损失，
					北国的出海技术日志
					不承担任何责任，但将尽力减少因此而给用户造成的损失和影响。
				</p>
				<p class="py-2">
					五、用户同意 北国的出海技术日志
					有权随时变更、中断或终止部分或全部的网络服务。如变更、中断或终止的网络服务属于免费网络服务，
					北国的出海技术日志
					无需通知用户，也无需对任何用户或任何第三方承担任何责任。
				</p>
				<p class="py-2">
					六、 北国的出海技术日志
					可在任何时候为任何原因变更本服务或删除其部分功能。
					北国的出海技术日志 可在任何时候取消或终止对用户的服务。
					北国的出海技术日志
					取消或终止服务的决定不需要理由或通知用户。一旦服务取消，用户使用本服务的权利立即终止。一旦本服务取消或终止，用户在本服务中储存的任何信息可能无法恢复。
				</p>
				<p class="py-2">
					七、 北国的出海技术日志 不保证（包括但不限于）：
				</p>
				<p class="py-2">1、 北国的出海技术日志 适合用户的使用要求；</p>
				<p class="py-2">
					2、 北国的出海技术日志
					不受干扰，及时、安全、可靠或不出现错误；及用户经由
					北国的出海技术日志
					取得的任何产品、服务或其他材料符合用户的期望；
				</p>
				<p class="py-2">
					3、用户使用经由 北国的出海技术日志
					下载或取得的任何资料，其风险由用户自行承担；因该等使用导致用户电脑系统损坏或资料流失，用户应自己负完全责任。
				</p>
				<p class="py-2">
					八、基于以下原因而造成的利润、商业信誉、资料损失或其他有形或无形损失，360公司不承担任何直接、间接的赔偿：
				</p>
				<p class="py-2">1、对 北国的出海技术日志 的使用或无法使用；</p>
				<p class="py-2">
					2、经由 北国的出海技术日志
					购买或取得的任何产品、资料或服务；
				</p>
				<p class="py-2">
					3、用户资料遭到未授权的使用或修改；及其他与
					北国的出海技术日志 相关的事宜。
				</p>
				<p class="py-2">
					九、投诉或建议请通过点击（<a
						class="underline"
						href="https://support.qq.com/products/634726"
						target="_blank">腾讯兔小巢</a
					>）反馈给我们。
				</p>
			</h1>
		</h1>
	</article>
</BaseLayout>
