---
const beian = '京ICP备2023001486号-2'
---
<hr class="my-4" />
<div class="flex flex-row my-4">
    <div class="basis-1/4 text-center">
    </div>
    <div class="basis-1/2 text-center">
        <a class="text-gray-500 hover:text-slate-950 text-center" href="https://beian.miit.gov.cn/" target="_blank">
            {beian}</a>
    </div>
    <div class="basis-1/4">
    </div>
</div>