---
const title1 = "实用工具";
const title2 = "免责声明";

const { pageIndex } = Astro.props;
---

<div class="w-full lg:w-1/6 md:w-1/4">
  <!-- 内容块 -->
  <div class="bg-white p-2 rounded-md">
    <div class="flex flex-col">
      <!--实用工具开始-->
      <a href="./index.html">
        <div
          class={`leftside px-6 py-3 flex justify-start ${pageIndex == 1 && `bg-sky-500/50`}  hover:bg-sky-500/50`}
        >
          <svg
            class="w-6 h-6 icon"
            viewBox="0 0 1024 1024"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            p-id="2672"
            width="48"
            height="48"
          >
            <path
              d="M512 96c229.76 0 416 186.24 416 416S741.76 928 512 928 96 741.76 96 512 282.24 96 512 96z m-32 448l-127.317333 0.021333c0.896 20.48 2.624 40.405333 5.12 59.669334l1.984 14.293333 2.474666 15.253333c19.754667 112.896 65.728 197.738667 117.76 222.997334L480 544z m191.317333 0.021333L544 544v312.234667c50.858667-24.725333 95.936-106.368 116.373333-215.509334l1.365334-7.488 2.474666-15.232a701.013333 701.013333 0 0 0 7.104-73.984z m-382.698666 0H161.429333c11.648 129.066667 92.992 238.08 206.101334 289.066667-22.122667-34.282667-40.362667-76.416-53.76-124.032l-3.029334-11.093333-3.52-14.165334-3.242666-14.464a744.490667 744.490667 0 0 1-15.36-125.312z m573.952 0H735.36a752.661333 752.661333 0 0 1-12.672 112.128l-2.688 13.184-3.242667 14.464-3.52 14.186667c-13.653333 52.138667-32.96 98.197333-56.789333 135.104 113.109333-50.986667 194.453333-160 206.08-289.066667zM367.530667 190.890667l-2.858667 1.301333C253.013333 243.733333 172.970667 352 161.429333 480h127.189334c1.536-39.04 5.866667-76.693333 12.672-112.149333l2.688-13.184 3.242666-14.464 3.52-14.186667c13.653333-52.138667 32.96-98.197333 56.789334-135.104zM480 167.765333c-50.709333 24.618667-95.68 105.898667-116.202667 214.592l-1.536 8.405334-2.474666 15.232a701.034667 701.034667 0 0 0-7.104 74.005333H480V167.765333z m176.469333 23.146667l2.56 4.053333c20.906667 33.429333 38.229333 73.984 51.093334 119.552l3.136 11.52 3.52 14.165334 3.242666 14.464c8.362667 39.253333 13.632 81.408 15.36 125.333333h127.189334c-11.626667-129.088-92.970667-238.101333-206.101334-289.066667zM544 167.765333L544 480h127.317333a707.136 707.136 0 0 0-5.333333-61.376l-1.770667-12.629333-2.474666-15.232c-19.754667-112.874667-65.706667-197.717333-117.717334-222.997334z"
              fill="#515151"
              p-id="2673"></path>
          </svg>
          <h2 class="ms-2 text-zinc-500">{title1}</h2>
        </div>
      </a>

      <!--实用工具结束-->
      <!--免责声明开始-->
      <a href="./mianze.html">
        <div
          class={`leftside px-6 py-3 flex justify-start ${pageIndex == 2 && `bg-sky-500/50`}  hover:bg-sky-500/50`}
        >
          <svg
            class="w-6 h-6 icon"
            viewBox="0 0 1024 1024"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            p-id="2458"
            width="48"
            height="48"
          >
            <path
              d="M906.666667 202.666667v682.666666h-789.333334v-682.666666h789.333334z m-64 64h-661.333334v554.666666h661.333334v-554.666666zM326.464 510.72L434.432 618.666667l-107.946667 107.946666-45.269333-45.226666L343.914667 618.666667l-62.698667-62.72 45.248-45.226667zM733.909333 661.333333v64H481.792v-64h252.117333z m0-149.333333v64H481.792v-64h252.117333z m2.090667-149.333333v64h-448v-64h448z"
              fill="#515151"
              p-id="2459"></path>
          </svg>
          <h2 class="ms-2 text-zinc-500">{title2}</h2>
        </div>
      </a>
    </div>
  </div>

  <!-- <div class="mt-2"></div>
  <h5 class="mt-2 mb-2 ms-2 color-gray-800 font-bold">我的课程</h5>
  <div class="bg-white p-2 rounded-md">
    <a target="_blank" href="https://edu.csdn.net/course/detail/39293?ops_request_misc=%257B%2522request%255Fid%2522%253A%2522170954483616800211591268%2522%252C%2522scm%2522%253A%252220140713.130102334.pc%255Fcourse.%2522%257D&request_id=170954483616800211591268&biz_id=3&utm_medium=distribute.pc_search_result.none-task-course-2~course~first_rank_ecpm_v1~rank_v31_ecpm-1-39293-null-null.pc_edu_default&utm_term=AIGC%E6%97%B6%E4%BB%A3%2C%E7%A8%8B%E5%BA%8F%E5%91%98%E5%89%AF%E4%B8%9A%E5%BF%85%E4%BF%AE%E8%AF%BE&spm=1018.2226.3001.4453">
      <div class="bg-white my-2">
        <img src="../image/kecheng.png" />
      </div>
    </a>
  </div> -->

  <div class="mt-2"></div>
  <h5 class="mt-2 mb-2 ms-2 color-gray-800 font-bold">公众号</h5>
  <div class="bg-white p-2 rounded-md">
    <div class="bg-white my-2">
      <img src="../image/gzh.jpg" />
    </div>
  </div>

</div>
