---
const desc = "每个独立开发者都能成为超级个体。";
---

<div class="w-48 rounded-md">
  <div class="bg-white mt-2">
    <p class="leading-normal p-4">{desc}</p>
  </div>
  <div class="bg-white my-2">
    <img src="../image/gzh.jpg" />
  </div>
</div>
